<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyj.system.mapper.AuthUserMapper">
    
    <resultMap type="AuthUser" id="AuthUserResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="email"    column="email"    />
        <result property="phone"    column="phone"    />
        <result property="password"    column="password"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="status"    column="status"    />
        <result property="introduce"    column="introduce"    />
        <result property="extJson"    column="ext_json"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="roleKey"    column="role_key"    />
    </resultMap>

    <sql id="selectAuthUserVo">
        select id, user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json, created_by, created_time, update_by, update_time, is_deleted from auth_user
    </sql>

    <select id="selectAuthUserList" parameterType="AuthUser" resultMap="AuthUserResult">
        SELECT
        u.id,
        u.user_name,
        u.nick_name,
        u.email,
        u.phone,
        u.password,
        u.sex,
        u.avatar,
        u.status,
        u.introduce,
        u.ext_json,
        u.created_by,
        u.created_time,
        u.update_by,
        u.update_time,
        u.is_deleted,
        r.role_key
        FROM
        auth_user u
        LEFT JOIN
        auth_user_role ur ON u.id = ur.user_id
        LEFT JOIN
        auth_role r ON ur.role_id = r.id
        <where>
            <if test="userName != null and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="nickName != null and nickName != ''"> and u.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="email != null and email != ''"> and u.email = #{email}</if>
            <if test="phone != null and phone != ''"> and u.phone = #{phone}</if>
            <if test="password != null and password != ''"> and u.password = #{password}</if>
            <if test="sex != null"> and u.sex = #{sex}</if>
            <if test="avatar != null and avatar != ''"> and u.avatar = #{avatar}</if>
            <if test="status != null"> and u.status = #{status}</if>
            <if test="introduce != null and introduce != ''"> and u.introduce = #{introduce}</if>
            <if test="extJson != null and extJson != ''"> and u.ext_json = #{extJson}</if>
            <if test="createdBy != null and createdBy != ''"> and u.created_by = #{createdBy}</if>
            <if test="createdTime != null"> and u.created_time = #{createdTime}</if>
            <if test="isDeleted != null"> and u.is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectAuthUserById" parameterType="Long" resultMap="AuthUserResult">
        <include refid="selectAuthUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertAuthUser" parameterType="AuthUser" useGeneratedKeys="true" keyProperty="id">
        insert into auth_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="sex != null">sex,</if>
            <if test="avatar != null">avatar,</if>
            <if test="status != null">status,</if>
            <if test="introduce != null">introduce,</if>
            <if test="extJson != null">ext_json,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            <if test="password != null">#{password},</if>
            <if test="sex != null">#{sex},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="status != null">#{status},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="extJson != null">#{extJson},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateAuthUser" parameterType="AuthUser">
        update auth_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="password != null">password = #{password},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="extJson != null">ext_json = #{extJson},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAuthUserById" parameterType="Long">
        delete from auth_user where id = #{id}
    </delete>

    <delete id="deleteAuthUserByIds" parameterType="String">
        delete from auth_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>