<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsyj.system.mapper.IotSimLabUserMapper">
    
    <resultMap type="IotSimLabUser" id="IotSimLabUserResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="simLabId"    column="sim_lab_id"    />
        <result property="simLabName"    column="project_name"    />
        <result property="isFinished"    column="is_finished"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectIotSimLabUserVo">
        select a.id,
               a.user_id,
               b.nick_name,
               a.sim_lab_id,
               c.project_name,
               a.is_finished,
               a.created_by,
               a.created_time,
               a.update_by,
               a.update_time,
               a.is_deleted
        from iot_sim_lab_user as a
                 left join auth_user as b on a.user_id = b.user_name
                 left join iot_sim_lab as c on a.sim_lab_id = c.id
    </sql>

    <select id="selectIotSimLabUserList" parameterType="IotSimLabUser" resultMap="IotSimLabUserResult">
        <include refid="selectIotSimLabUserVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="simLabId != null "> and sim_lab_id = #{simLabId}</if>
            <if test="isFinished != null "> and is_finished = #{isFinished}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectIotSimLabUserById" parameterType="Long" resultMap="IotSimLabUserResult">
        <include refid="selectIotSimLabUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertIotSimLabUser" parameterType="IotSimLabUser" useGeneratedKeys="true" keyProperty="id">
        insert into iot_sim_lab_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="simLabId != null">sim_lab_id,</if>
            <if test="isFinished != null">is_finished,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="simLabId != null">#{simLabId},</if>
            <if test="isFinished != null">#{isFinished},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateIotSimLabUser" parameterType="IotSimLabUser">
        update iot_sim_lab_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="simLabId != null">sim_lab_id = #{simLabId},</if>
            <if test="isFinished != null">is_finished = #{isFinished},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIotSimLabUserById" parameterType="Long">
        delete from iot_sim_lab_user where id = #{id}
    </delete>

    <delete id="deleteIotSimLabUserByIds" parameterType="String">
        delete from iot_sim_lab_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="userSimLabWeekData" parameterType="map" resultType="java.util.Map">
        SELECT
            IFNULL(SUM(CASE WHEN DATE(created_time) = #{startOfWeek} THEN 1 ELSE 0 END), 0) AS monday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 1 DAY) THEN 1 ELSE 0 END), 0) AS tuesday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 2 DAY) THEN 1 ELSE 0 END), 0) AS wednesday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 3 DAY) THEN 1 ELSE 0 END), 0) AS thursday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 4 DAY) THEN 1 ELSE 0 END), 0) AS friday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 5 DAY) THEN 1 ELSE 0 END), 0) AS saturday,
            IFNULL(SUM(CASE WHEN DATE(created_time) = DATE_ADD(#{startOfWeek}, INTERVAL 6 DAY) THEN 1 ELSE 0 END), 0) AS sunday
        FROM
            iot_sim_lab_user
        WHERE
            is_finished = 1
          AND created_time BETWEEN #{startOfWeek} AND #{endOfWeek}
        UNION ALL
        SELECT
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = #{startOfWeek}), 0) AS monday,
            0 AS tuesday,
            0 AS wednesday,
            0 AS thursday,
            0 AS friday,
            0 AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 1 DAY)), 0) AS tuesday,
            0 AS wednesday,
            0 AS thursday,
            0 AS friday,
            0 AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            0 AS tuesday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 2 DAY)), 0) AS wednesday,
            0 AS thursday,
            0 AS friday,
            0 AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            0 AS tuesday,
            0 AS wednesday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 3 DAY)), 0) AS thursday,
            0 AS friday,
            0 AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            0 AS tuesday,
            0 AS wednesday,
            0 AS thursday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 4 DAY)), 0) AS friday,
            0 AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            0 AS tuesday,
            0 AS wednesday,
            0 AS thursday,
            0 AS friday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 5 DAY)), 0) AS saturday,
            0 AS sunday
        UNION ALL
        SELECT
            0 AS monday,
            0 AS tuesday,
            0 AS wednesday,
            0 AS thursday,
            0 AS friday,
            0 AS saturday,
            IFNULL((SELECT 1 FROM iot_sim_lab_user WHERE is_finished = 1 AND created_time = DATE_ADD(#{startOfWeek}, INTERVAL 6 DAY)), 0) AS sunday
    </select>
</mapper>